.container {
  width: 60%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
}

.task-input-container {
  background-color: #e9f5e9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.add-task-button {
  width: 25%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.add-task-button:hover {
  background-color: #4cae4c;
}

.task-list-container {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.completed span {
  color: #aaa;
}

.button-container {
  display: flex;
  gap: 5px;
}

.complete-button {
  background-color: #5cb85c;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: #d9534f;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.complete-button:hover {
  background-color: #4cae4c;
}

.delete-button:hover {
  background-color: #c9302c;
}

.completed {
  color: lightgreen;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.text-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
  text-decoration: none;
}

.text-button:hover {
  color: #0056b3;
}

.text-button:disabled {
  color: grey;
  cursor: not-allowed;
}

.task-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}